//REGISTER PAGE STYLING
.reg-main-ctn {
  @include size100();
  background-image: url("../images/backgrounds/bg1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  .logo {
    position: absolute;
    top: 5vh;
    left: 4vw;
    @include size(8vh, 10vw);
    overflow: hidden;
    @include images();
  }

  .reg-inner-ctn {
    @include jadflex(column, center, center);
    @include size100P();
    .login_box {
      display: inline-flex;
      background-color: $main-bg-color;
      height: auto;
      width: auto;
      border-radius: 5px;
      box-shadow: 0 0 2px 1px #000000;
      #first {
        @include size(400px, 40vw);
        padding: 10px;
        @include jadflex(column, center, center);
        h1 {
          font-size: 24px;
          margin: 30px 0 0 0;
          text-align: center;
          color: $font-color;
        }
        form {
          @include size(75%, 80%);
          @include jadflex(column, flex-start, center);
          margin: 5vh;
          .input_group {
            @include jadflex(column, center, flex-start);
            width: 100%;
            label {
              color: $font-color;
              margin-bottom: 1vh;
            }
            input {
              margin-bottom: 8px;
              height: 40px;
              padding: 5px 10px;
              width: 100%;
              border: none;
              color: $font-color;
              outline: none;
              background-color: $secondary-bg-color;
            }
            input:focus {
              outline: none;
            }
          }
        }
        .reg-login:link {
          display: block;
          text-align: center;
          margin-bottom: 30px;
          font-family: $font-family;
          font-size: 16px;
          color: $primaryVariants;
          text-decoration: none;
        }
        .reg-login:hover {
          text-decoration: underline;
        }
        .reg-login:visited {
          color: $primaryVariants;
        }
      }

      #login_header {
        @include size(auto, 25vw);
        @include jadflex(column, center, center);
        figure {
          @include size(150px, 150px);
          @include images();
        }
        p {
          padding: 10px;
          width: 70%;
          color: $font-color;
          text-align: center;
        }
      }
      #second {
        @include size(550px, 40vw);
        padding: 10px 10px;
        @include jadflex(column, center, center);
        h1 {
          font-size: 24px;
          margin: 20px 0 0 0;
          text-align: center;
          color: $font-color;
        }
        form {
          @include size(85%, 80%);
          @include jadflex(column, flex-start, center);
          margin: 5vh;
          .input_group {
            @include jadflex(column, center, flex-start);
            width: 100%;
            label {
              color: $font-color;
              margin-bottom: 1vh;
            }
            input {
              margin-bottom: 8px;
              height: 40px;
              padding: 5px 10px;
              width: 100%;
              border: none;
              color: $font-color;
              outline: none;
              background-color: $secondary-bg-color;
            }
            input:focus {
              outline: none;
            }
          }
        }
        .reg-login:link {
          display: block;
          text-align: center;
          margin-bottom: 30px;
          font-family: $font-family;
          font-size: 16px;
          color: $primaryVariants;
          text-decoration: none;
        }
        .reg-login:hover {
          text-decoration: underline;
        }
        .reg-login:visited {
          color: $primaryVariants;
        }
      }
      #second {
        display: none;
      }
    }
  }
}
