//closeAccount_column has the same styling
//FRIEND REQUEST PAGE STYLING
.requests_column, .closeAccount_column {
  position: absolute;
  top: 10vh;
  left: 15vw;
  @include size(auto, 85vw);
  background-color: $secondary-bg-color;
  @include jadflex(column, flex-start, center);
  padding: 15px 0;
  min-height: 90vh;
  color: $font-color;
  form {
    padding: 10px 0;
    width: 25%;
    @include jadflex(row, space-between, center);
    input {
      width: 45%;
      padding: 5px;
      border: none;
    }
    #accept_button, .info {
      background-color: $primary;
    }
    #ignore_button, .danger {
      background-color: red;
    }
    #accept_button:hover {
      background-color: $primaryVariants;
    }
    #ignore_button:hover {
      background-color: orange;
    }
  }
}
