//SETTING PAGE STYLING
.setting_main_column {
  position: absolute;
  top: 10vh;
  left: 15vw;
  @include size(auto, 85vw);
  background-color: $secondary-bg-color;
  @include jadflex(column, center, flex-start);
  padding: 15px 10vw;
  min-height: 90vh;
  color: $font-color;
  .profile_images {
    @include jadflex(row, space-between, center);
    .small_profile_pic {
      @include size(150px, 150px);
      overflow: hidden;
      @include images();
    }
    input[type="submit"] {
      margin: 5px 0;
      width: 15vw;
      padding: 10px;
      background-color: $primary;
      border-radius: 10px;
      border: none;
    }
  }
  form {
    margin-bottom: 5vh;
    .input-group {
      width: 30vw;
      height: 5vh;
      margin: 10px 0;
      @include jadflex(row, space-between, center);
      label {
        width: 15vw;
      }
      input {
        background-color: $main-bg-color;
        border: none;
        padding: 10px;
      }
      input:focus {
        outline: none;
      }
    }
    #save_details {
      width: 30vw;
      padding: 10px;
      background-color: $primary;
      border-radius: 10px;
      border: none;
    }
    #close_account {
      background-color: red;
      width: 30vw;
      padding: 10px;
      border-radius: 10px;
      border: none;
    }
  }
}
