@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;1,400&display=swap');

// DEFAULT FONT COLOR
$font-color: #FFFFFF;

// MAIN HEADING COLOR
$heading-color: #7289da;

// SUB HEADING COLOR
$sub-heading-color: #99aab5;

// PRIMARY COLORS
$primary: #6959cb;
$primaryVariants: #7289da;

// SECONDARY COLOR
$secondary: #ffffff;
$secondaryVariant: #99aab5;

$main-bg-color: #2c2f33;
$secondary-bg-color: #23272a;

// FONT STLE
$font-family: 'Titillium Web', sans-serif;