// DEFAULT POSITIONING FOR SIZE in viewport
@mixin size100() {
  height: 100vh;
  width: 100vw;
}

// DEFAULT POSITIONING FOR SIZE in percentage
@mixin size100P() {
  height: 100%;
  width: 100%;
}

// SIZE | HEIGHT | WIDTH
@mixin size($height, $width) {
  height: $height;
  width: $width;
}

// FLEX | DIRECTION | JUSTIFY-CONTENT | ALIGN-ITEMS
@mixin jadflex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

// DEFAULT POSITIONING FOR IMAGES
@mixin images {
  img {
    @include size100P();
    object-fit: cover;
  }
}

// DEFAULT POSITIONING TO CENTER ELEMENTS
@mixin flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
