//NEW POST MODAL
#home-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 10vh;
  padding-left: 15vw;
  @include size100();
  z-index: 3;
  @include flex-center();

  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    @include size100();
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .post-modal-wrapper {
    @include size(auto, 500px);
    @include flex-center();
    border-radius: 20px;
    background-color: $main-bg-color;
    border: solid 1px #4b4a4a;
    color: $font-color;

    #modal-pst-ctn {
      @include size100P();
      .modal-header {
        width: 500px;
        border: solid 1px #4b4a4a;
        border-radius: 20px 20px 0 0;
        @include jadflex(row, space-between, center);

        h1 {
          display: block;
          margin: 10px 0 10px 60px;
          font-size: 2rem;
          text-align: center;
          font-family: $font-family;
        }
        .close-btn {
          height: 40px;
          width: 40px;
          margin-right: 15px;
          border-radius: 25px;
          border: none;
          background-color: $secondary-bg-color;
          outline: none;
          cursor: pointer;

          i {
            font-size: 18px;
          }
        }
        .close-btn:hover {
          opacity: 0.8;
        }
      }
      .modal-content-create {
        width: 100%;
        .modal-profile-icon {
          @include size(70px, 70px);
          display: inline-block;
          margin-top: 15px;
          margin-left: 15px;
          border-radius: 50px;
          background-color: $primary;
          overflow: hidden;
          @include images();
        }
        p {
          display: inline-block;
          margin-left: 15px;
          position: relative;
          top: -30px;
          font-size: 18px;
          font-family: $font-family;
          font-weight: bold;
        }
        .post-create {
          height: 200px;
          width: 95%;
          display: block;
          margin: 0 auto;
          padding: 10px 0 0 10px;
          font-size: 18px;
          font-family: $font-family;
          background: none;
          resize: none;
          outline: none;
        }
      }
      .post-btn-ctn {
        width: 100%;
        padding: 10px 0;
        @include flex-center();
        .post-btn {
          height: 45px;
          width: 150px;
          background-color: $primary;
          border-radius: 10px;
          border: none;
          font-size: 16px;
          font-family: $font-family;
          font-weight: bold;
          outline: none;
          cursor: pointer;
        }
      }
    }
  }
}
#home-modal-wrapper {
  display: none;
}

//NOTIFICATION AND MESSAGE MODAL
.dropdown_data_window {
  background-color: $main-bg-color;
  z-index: 5;
  width: 300px;
  position: absolute;
  top: 10vh;
  right: 5vw;
  padding-top: 10px;
  overflow-x: hidden;
  border-top: none;
  color: $font-color;

  .resultDisplay {
    @include size(15vh, 100%);
    @include jadflex(row, space-between, center);
    padding: 10px;
    figure {
      @include size(60px, 60px);
      overflow: hidden;
      border-radius: 50px;
      @include images();
    }
    .texts {
      width: 75%;
      p {
        color: $primary;
      }
      .timestamp_smaller {
        font-size: 1rem;
        color: $secondary;
      }
    }
  }
  .new {
    background-color: $sub-heading-color;
  }

  .user_found_messages {
    @include size(15vh, 100%);
    @include jadflex(row, space-between, center);
    padding: 10px;
    figure {
      @include size(60px, 60px);
      overflow: hidden;
      border-radius: 50px;
      @include images();
    }
    .texts {
      width: 75%;
      p {
        color: $primary;
      }
      .timestamp_smaller {
        font-size: 1rem;
        color: $secondary;
      }
    }
  }
}
