// HEADER SCSS
.header {
  @include size(10vh, 100vw);
  @include jadflex(row, flex-start, center);
  background-color: $secondary-bg-color;
  border-bottom: solid 1px #4b4a4a;
  position: fixed;
  //for modals: notification and messages
  z-index: 1;

  .logoContainer {
    @include size(100%, 15vw);
    @include flex-center();
    padding: 5px;
    figure {
      @include size(80%, 70%);
      @include images();
    }
  }
  .searchContainer {
    @include size(100%, 45vw);
    @include flex-center();
    position: relative;
    color: $font-color;
    margin-left: 20vw;
    form {
      @include jadflex(row, center, center);
      background-color: $main-bg-color;
      border-radius: 10px 15px;
      padding: 10px;
      input {
        background-color: transparent;
        border: none;
        width: 350px;
      }
    }

    .search_content {
      @include jadflex(column, center, center);
      position: absolute;
      left: 120px;
      top: 56px;
      width: 380px;
      z-index: 4;
      background-color: rgba($color: $secondary-bg-color, $alpha: 0.9);

      .search_results_footer {
        width: 100%;
        a {
          @include flex-center();
          color: $primary;
          width: 100%;
          background-color: $font-color;
        }
        a:hover {
          color: $primaryVariants;
          text-decoration: none;
        }
      }
      .search_results {
        width: 100%;
        .resultDisplay {
          @include flex-center();
          width: 100%;
          a {
            @include jadflex(row, center, center);
            @include size(80px, 100%);
            border-bottom: 1px $font-color solid;
            color: $font-color;
            figure {
              @include size(50px, 50px);
              overflow: hidden;
              border-radius: 50px;
              margin-right: 10px;
              @include images();
            }
            .liveSearchText {
              @include jadflex(column, center, flex-start);
              height: 100%;
              width: 65%;
              p {
                font-size: 1.2rem;
                height: 10px;
              }
            }
          }
          a:hover {
            background-color: rgba($color: black, $alpha: 0.3);
            text-decoration: none;
          }
        }
      }
    }
  }

  nav {
    @include size(100%, 20vw);
    @include jadflex(row, space-around, center);
    padding-right: 30px;
    a {
      color: $font-color;
    }
  }
}

.sidebar {
  @include size(90vh, 15vw);
  @include jadflex(column, flex-start, center);
  background-color: $secondary-bg-color;
  border-right: solid 1px #4b4a4a;
  position: fixed;
  padding: 20px 5px;
  top: 10vh;
  a {
    @include size(auto, 90%);
    @include jadflex(column, center, center);
    color: $font-color;
    padding: 10px 0;
    figure {
      @include size(90px, 90px);
      @include images();
      margin-bottom: 10px;
      border-radius: 50px;
      overflow: hidden;
    }
  }
  .active {
    color: $primary;
  }
}
